.todo-input-form-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
}
.todo-input-form-container input{
    width: 30%;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: var(--color-light-pink);
    font-family: inherit;
    border-radius: 0.5rem;
}
.todo-input-form-container textarea{
    font-family: inherit;
    width: 30%;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: var(--color-light-pink);
    padding: 1rem;
}
.submit-button{
    padding: 1rem;
    width: 30%;
    color: var(--color-dark-pink);
    border: 1px solid var(--color-dark-pink);
    background-color: var(--color-white);
    border-radius : 1rem;
}
.submit-button:hover{
    background-color:var(--color-light-pink);
}
.todo-items-section{
    background-color: var(--color-light-pink);
    color: black;
    margin-top: 2rem;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
   
}
.todo-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color-white);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    width: 25%;
    min-height: 20rem;
    padding: 2rem;
    gap: 1rem;
   border-radius: 0.5rem;
}
/* .title{
text-align: center;
} */
.description{
    padding-top: 1rem;
}
.text-container{
    text-align: center;
    display: flex;
    flex-direction: column;
  
    width: 100%;
    height: 50%;
}
.todo-input-controls{
    display: flex;
    justify-content: baseline;
    gap: 3rem;
    margin-top: 4rem;
}

.todo-input-controls button{
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;

}
.complete{
    text-decoration: line-through;
}