.todo-input-form-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
}
.todo-input-form-container input{
    width: 35%;
    padding: 1.2rem;
    border: none;
    outline: none;
    background-color: var(--color-light-pink);
    font-family: inherit;
    border-radius: 0.5rem;
}
@media screen and (max-width: 55em) {
    .todo-input-form-container input{
        width: 50%;
    }
}
@media screen and (max-width: 40em) {
    .todo-input-form-container input{
        width: 70%;
    }
}
.todo-input-form-container textarea{
    font-family: inherit;
    width: 35%;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: var(--color-light-pink);
    padding: 1rem;
}
@media screen and (max-width: 55em) {
    .todo-input-form-container textarea{
        width: 50%;
    }
}
@media screen and (max-width: 40em) {
    .todo-input-form-container textarea{
        width: 70%;
    }
}
.submit-button{
    font-family: inherit;
    padding: 1rem;
    width: 35%;
    color: var(--color-white);
    background-color: var(--color-dark-pink);
    border-radius : 1rem;
    border: none;
}
@media screen and (max-width: 55em) {
    .submit-button{
        width: 50%;
    }
}
@media screen and (max-width: 40em) {
    .submit-button{
        width: 70%;
    }
}
.submit-button:hover{
    background-color:var(--color-baby-pink);
    font-weight: 700;
}
.todo-items-section-c{
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
    background-color: var(--color-white);
    color: black;
    padding-block: 3rem;
    min-height: 50vh;
    gap: 3rem;

   
}
.todo-item-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    width: 20%;
    height: 22rem;
    padding: 1rem;
   border-radius: 0.5rem;
   transition: all .2s;
   position: relative;

}
.svg-icons{
display: flex;
justify-content: space-between;
}
svg{
    color: var(--color-dark-pink);
    font-size: 2rem;
    font-weight: 600;
}
.todo-item-container:hover{
transform: translateY(-1rem);
background-color: var(--color-light-pink);
}
@media screen and (max-width: 55em) {
    .todo-item-container{
        width: 40%;
    }
}
@media screen and (max-width: 40em) {
    .todo-item-container{
        width: 80%;
    }
}



.todo-item-container:hover{
    transform: translateY(-1rem);
}


.description{
    padding-top: 1rem;
    text-align: center;
}
.text-container{
    text-align: center;
    display: flex;
    flex-direction: column;
  
    width: 100%;
    height: 50%;
}
.todo-input-controls{
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
    margin-inline:4rem;
}
.control-input{
    background-color: var(--color-baby-pink);
}
.control-delete{
    background-color: var(--color-dark-pink);
}

.todo-input-controls button{
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    width: 11rem;

  

}

.complete{
    text-decoration: line-through;
}
.edit-mode{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.3rem;
}
.edit-mode input{
    border: none;
    padding: 0.6rem;
}
.edit-mode textarea{
    padding: 0.6rem;
}
.edit-mode button{
    padding: 0.6rem;
}